html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { color: #0040ff }

/***********************************************
 * Main Menu
 ***********************************************/
#mainmenu {
	position: absolute;
	top: -110px;
	width: 100%;
	height: 110px;
	background-color: #050505;
}

.mainmenu_logo {
	position: absolute;
	left: 0px;
	top: 0px;
}

.mainmenu_bottomline {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0px;
	background-color: #318184;
}

.mainmenu_button_first {
	position: absolute;
	top: 0px;
}

.mainmenu_button_second {
	position: absolute;
	top: 111px;
	border: solid;
	border-width: 1px;
	border-color: #ffffff;
	background-color: #a6aaa9;
}

.mainmenu_button_third {
	position: absolute;
	top: 221px;
	border: solid;
	border-width: 1px;
	border-color: #ffffff;
	background-color: #a6aaa9;
}

.mainmenu_selector {
	position: absolute;
	width: 105px;
	height: 5px;
	bottom: 0px;
	background-color: #f28d18;
}

/***********************************************
 * Intro Page
 ***********************************************/
.intro_page {
	position: absolute;
	width: 80%;
	max-width: 1386px;
}

/***********************************************
 * Health calendar
 ***********************************************/
#health_calendar {
	 position: absolute;
	 top: 130px;
	 left: 50px;
 }

.calendar_year {
	fill: #ffffff;
	font-size: 20px;
}

.calendar_day {
	stroke: #ccc;
}

.calendar_month {
	fill: none;
	stroke: #000;
	stroke-width: 2px;
}

.calendar_month_title {
	fill: #ffffff;
	font-size: 9px;
}

/***********************************************
 * Health sensor pie chart
 ***********************************************/
#health_sensor {
	position: absolute;
	top: 150px;
	left: 320px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	background-color: rgba(0, 0, 0, 0.8);
	visibility: hidden;
}

#health_sensor_date {
	position: absolute;
	top: 13px;
	left: 13px;
	font-size: 14px;
	color: rgba(231, 231, 231, 0.89)
}

#health_sensor_value {
	position: absolute;
	top: 13px;
	right: 13px;
	font-size: 14px;
	color: rgba(231, 231, 231, 0.89)
}

#health_sensor_tips {
	position: absolute;
	top: 38px;
	left: 13px;
	font-size: 10px;
	color: rgba(150, 150, 150, 0.85)
}

.pie_labels {
	fill: #ffffff;
	font-size: 9px;
}

.pie_polyline {
	opacity: .3;
	stroke: white;
	stroke-width: 2px;
	fill: none;
}

/***********************************************
 * Health tooltip
 ***********************************************/
#health_tooltip {
	position: absolute;
	width: 54px;
	height: 18px;
	padding: 10px;
	background-color: #f5d328;
	-webkit-border-radius: 10px;
	-moz-border-radius: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	bottom: 45px;
	right: 15px;
	font-size: 16px;
	visibility:hidden;
	font-family: "Roboto";
}

/***********************************************
 * History tooltip
 ***********************************************/
#history_tooltip {
	position: absolute;
	width: 175px;
	height: 60px;
	padding: 10px;
	background-color: #cccccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 15px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	bottom: 450px;
	right: 300px;
	visibility:hidden;
	font-family: "Roboto";
}

#h_tooltip_did {
	font-size: 18px;
}

#h_tooltip_result {
	margin-top: 10px;
	font-size: 14px;
}

#h_tooltip_time {
	margin-top: 3px;
	font-size: 6px;
	color: #585858;
}

/***********************************************
 * History date
 ***********************************************/
#history_date_panel {
	position: absolute;
	top: 150px;
	left: 50px;
	width: 300px;
	visibility: hidden;
}

#history_date_title {
	position: absolute;
	left: 0px;
	top: 0px;
	color: rgba(135, 135, 135, 0.85);
	font-size: 15px;
}

#history_date {
	position: absolute;
	left: 0px;
	top: 30px;
	color: rgba(255, 255, 255, 0.70);
	font-size: 50px;
}

#history_date_tip {
	position: absolute;
	left: 0px;
	top: 80px;
	color: rgba(135, 135, 135, 0.80);
	font-size: 10px;
}

/***********************************************
 * Weather
 ***********************************************/
#weather {
	position: fixed;
	padding: 6px;
	bottom: -28px;
	left: 0px;
	right: 0px;
	height: 15px;
	color: white;
	font-size: 14px;
	font-family: Roboto;
	background-color: rgba(0,0,0,1);
	visibility: visible;
}
#heading {
	position:absolute;
	text-align:left;
}
#forecast {
	position:absolute;
	left:10px;
	float:right;
	text-align:left;
	/*word-wrap:break-word;*/
}
#sunrise_sunset {
	position:absolute;
	right:10px;
	float:right;
	text-align:right;
	word-wrap:break-word;
}

/***********************************************
 * Weather 2
 ***********************************************/
#weather_big {
	position: absolute;
	top: 150px;
	left: 50px;
	width: 220px;
	height: 150px;
	color: white;
	visibility: hidden;
}

#weather_big_temp {
	position: absolute;
	font-size: 100px;
}

#weather_big_symbol {
	position: absolute;
	font-size: 17px;
	top: 10px;
	left: 100px;
}

#weather_big_state {
	position: absolute;
	font-size: 18px;
	top: 100px;
}

/***********************************************
 * Node info panel
 ***********************************************/
#info-panel {
	position: absolute;
	width: 60%;
	max-width: 1000px;
	background-color: #FFFFFF;
	border: solid 5px;
	border-color: #FFFFFF;
}

.info-label {
	position: absolute;
	left: 20px;
}

.info-audio {
	position: absolute;
	width: 82%;
	height: 150px;
	left: 20px;
	border: solid;
	border-color: #000000;
}

.info-wind {
	position: absolute;
	width: 82%;
	height: 150px;
	left: 20px;
	border: solid;
	border-color: #000000;
}

/***********************************************
 * Line Chart
 ***********************************************/
#chart_div {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.line_chart_axis {
	stroke-width: 4;
	stroke-opacity: 1;
	stroke: #ffffff;
}

.line_chart_axis_y {
	stroke-width: 2;
	stroke-opacity: 1;
	stroke: #ffffff;
}

.xTicks, .yTicks {
	stroke-width: 1;
	stroke: #ffffff;
}

.xLabel, .yLabel {
	font-size: 12px;
	fill: #e2e2e2;
}

.line_chart_path {
	stroke: #ffffff;
	stroke-width: 4;
	stroke-opacity: 0.6;
	fill: none;
}

.line_chart_dragger {
	fill: #ffffff;
	stroke-width: 2px;
	stroke: #111111;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.line_chart_dragger_date {
	fill: #ffffff;
	font-size: 15px;
}

.line_chart_svg_dragger {
	position: absolute;
	left: 0px;
	top: 0px;
}

/***********************************************
 * Main Loading
 ***********************************************/
.main_loading_title {
	position: absolute;
	top: 38%;
	color: rgba(255, 255, 255, 1);
}

/***********************************************
 * Date Picker
 ***********************************************/
#datepicker_cover {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(37, 37, 37, 0.56);
	visibility: hidden;
}

#datepicker {
	position: absolute;
	visibility: hidden;
}

#datepicker_tip {
	position: absolute;
	color: rgba(255, 255, 255, 0.90);
	font-size: 30px;
}