html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { color: #0040ff }