html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #aaa !important }
#stats #fps #fpsGraph { color: #0040ff }

/***********************************************
 * Main Menu
 ***********************************************/
#mainmenu {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 110px;
	background-color: #050505;
}

.mainmenu_logo {
	position: absolute;
	left: 0px;
	top: 0px;
}

.mainmenu_bottomline {
	position: absolute;
	width: 100%;
	height: 5px;
	bottom: 0px;
	background-color: #318184;
}

.mainmenu_button_first {
	position: absolute;
	top: 0px;
}

.mainmenu_button_second {
	position: absolute;
	top: 111px;
	border: solid;
	border-width: 1px;
	border-color: #ffffff;
	background-color: #a6aaa9;
}

.mainmenu_button_third {
	position: absolute;
	top: 221px;
	border: solid;
	border-width: 1px;
	border-color: #ffffff;
	background-color: #a6aaa9;
}

.mainmenu_selector {
	position: absolute;
	width: 105px;
	height: 5px;
	bottom: 0px;
	background-color: #f28d18;
}

/***********************************************
 * Intro Page
 ***********************************************/
.intro_page {
	position: absolute;
	width: 80%;
	max-width: 1386px;
}

/***********************************************
 * Weather
 ***********************************************/
#weather {
	position: fixed;
	padding: 6px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 15px;
	color: white;
	font-size: 14px;
	font-family: Roboto;
	background-color: rgba(0,0,0,1);
	visibility: visible;
}
#heading {
	position:absolute;
	text-align:left;
}
#forecast {
	position:absolute;
	left:10px;
	float:right;
	text-align:left;
	/*word-wrap:break-word;*/
}
#sunrise_sunset {
	position:absolute;
	right:10px;
	float:right;
	text-align:right;
	word-wrap:break-word;
}

/***********************************************
 * Node info panel
 ***********************************************/
#info-panel {
	position: absolute;
	width: 60%;
	max-width: 1000px;
	background-color: #FFFFFF;
	border: solid 5px;
	border-color: #FFFFFF;
}

.info-label {
	position: absolute;
	left: 20px;
}

.info-audio {
	position: absolute;
	width: 82%;
	height: 150px;
	left: 20px;
	border: solid;
	border-color: #000000;
}

.info-wind {
	position: absolute;
	width: 82%;
	height: 150px;
	left: 20px;
	border: solid;
	border-color: #000000;
}

/***********************************************
 * Date Picker
 ***********************************************/
#datepicker {
	position: absolute;
	left: 0px;
	top: 110px;
	visibility: hidden;
}