/*************************
 * All Sub Menu
 *************************/
#submenu {
	position: absolute;
	top: 150px;
	left: 0px;
	width: 100%;
}

/*************************
 * Power View Menu
 *************************/
#powermenu_container {
	position: absolute;
	left: 50px;
	width: 100%;
	visibility: hidden;
}

#powermenu_date {
	position: absolute;
	top: 10px;
	left: 35px;
	color: rgba(255, 255, 255, 0.70);
	font-size: 30px;
}

#powermenu_type {
	position: absolute;
	top: 65px;
	color: rgba(135, 135, 135, 0.85);
	font-size: 50px;
	cursor: pointer;
}

.powermenu_weather {
	position: absolute;
	width: 250px;
	padding: 2px 8px;
	cursor: pointer;
	color: rgba(150, 150, 150, 0.70);
	font-size: 30px;
}

.powermenu_weather_selected {
	color: rgba(200, 200, 200, 1);
	background-color: rgba(130, 130, 130, 0.85);
}

.powermenu_left {
	position: absolute;
	top: 16px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.powermenu_right {
	position: absolute;
	top: 16px;
	left: 150px;
	width: 15px;
	height: 15px;
	cursor: pointer;
}

.powermenu_2d3d {
	position: absolute;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgba(185, 185, 185, 0.85);
	font-size: 30px;
	cursor: pointer;
	border: solid 5px;
	border-color: rgba(185, 185, 185, 0.85);
}

#voltage_tooltip {
	position: absolute;
	width: 60px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: rgba(68, 68, 68, 0.85);
	background-color: rgba(201, 201, 201, 0.85);
	visibility: hidden;
}

#pmenu_statistic {
	position: absolute;
	width: 500px;
	height: 200px;
	top: 100px;
	right: 80px;
	color: rgba(150, 150, 150, 0.70);
	font-size: 20px;
	text-align: right;
}