.foreground path {
	fill: none;
	stroke-opacity: .5;
	stroke-width: 1.5px;
}

.foreground path.fade {
	stroke: #000;
	stroke-opacity: .05;
}

.brush .extent {
	fill-opacity: .3;
	stroke: #fff;
	shape-rendering: crispEdges;
}

.axis line, .axis path {
	fill: none;
	stroke: rgba(100, 100, 100, 1);
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

.axis text {
	fill: rgba(220, 220, 220, 0.85);
}