#scatterplot_cont {
	position: absolute;
	left: 30px;
	bottom: 20px;
	font-size: 8px;
}

#scatterplot_menu {
	position: absolute;
	left: 50px;
	top: 20px;
}

.axis line {
	stroke: rgba(171, 171, 171, 0);
	stroke-width: .5px;
}

.axis path {
	display: none;
}

rect.extent {
	fill: #000;
	fill-opacity: .125;
	stroke: #fff;
}

rect.frame {
	fill: #fff;
	fill-opacity: .3;
	stroke: #aaa;
}

circle {
	fill: #ccc;
	fill-opacity: .5;
}

.cell text {
	pointer-events: none;
}

#scatterplotmenu_year {
	position: absolute;
	top: 150px;
	left: 150px;
	color: rgba(220, 220, 220, 0.85);
	font-size: 35px;
}


.scattermenu_btn {
	position: absolute;
	top: 155px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#scatterplotmenu_prev2 {
	left: 20px;
}

#scatterplotmenu_prev {
	left: 45px;
}


#scatterplotmenu_next {
	left: 450px;
}

#scatterplotmenu_next2 {
	left: 475px;
}

.scattermenu_date {
	position: absolute;
	top: 150px;
	color: rgba(255, 255, 255, 0.95);
	font-size: 35px;
	cursor: pointer;
}

#scatterplotmenu_start {
	left: 70px;
}

#scatterplotmenu_middel {
	left: 245px;
}

#scatterplotmenu_end {
	left: 270px;
}

/*time line*/
#scatterplot_time {
	position: absolute;
	top: 220px;
	left: 80px;
}

#scatterplottime_panel {
	width: 450px;
	height: 20px;
	background-color: rgba(27, 27, 27, 0.89);
	border: solid 1px;
	border-color: #a3a3a3;
}

.scatterplot_cell {
	position: absolute;
	fill: #fff;
	opacity: 0.05;
}